@charset "UTF-8";

/* << EMULATION >> */


/* FONTS LOAD SECTION */

/* --- MONTSERRAT ---*/
@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 100;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 200;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-RegularItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 500;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 600;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 800;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 800;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
} @font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}

/* --- INTER --- */
@font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
} @font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
} @font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
} @font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
} @font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
} @font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
} @font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
} @font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 800;
} @font-face {
	font-family: "Inter", sans-serif;
	src: url("fonts/Inter/Inter-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

/* USER VARIABLES SECTION */

:root {
	--accent: #26CAA3;
	--light-accent: #81D4C1;
	--white-text: #fff;
	--black-text: #000;
	--grey-text: #7D7D7D;
	--sizeindex: calc(1vh + 1vw);
	--lineheight: normal;
	--userfont: "Montserrat", sans-serif;
	--textfont: "Inter", sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--background-color: #F9F9F9;
	--gap: 1vw;
	--animation: cubic-bezier(.31,.38,.57,.94);
	--border-radius: 100px;
	--border-radius-tablet: 70px;
}

/* GENERAL CSS SETTINGS */

::placeholder { color: #B3B3B3; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scrollbar-color: var(--light-accent) transparent;
	scrollbar-width: thin;
}

a {
	font-style: none;
	color: var(--black-text);
	text-decoration: none;
}

body {
	font-family: var(--textfont);
	font-weight: 400;
	font-size: 14px;
	color: var(--black-text);
	background-color: var(--background-color);
}
.logo a img { width: 163px; }
*.noflex {display: block !important;}

/*custom scrollbar, firefox*/
*:-webkit-scrollbar {
	width: 35px;
	display: block;
} *:-webkit-scrollbar-track {
	background: transparent;
} *:-webkit-scrollbar-thumb {
	background-color: transparent;
  border-radius: 20px;
  box-shadow: inset 0 0 0 15px #fff;
} /* webkit browsers */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	display: block;
	background-clip: padding-box;
} *::-webkit-scrollbar-track {
	background: transparent;
} *::-webkit-scrollbar-thumb {
	background-color: var(--light-accent);
	border: 4px solid transparent;
	box-shadow: inset 0 0 0 16px transparent;
	border-radius: 20px;
} *::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 15px; 
} *::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 15px;
}

/* BUTTONS STYLE */

.link a {color: #26CAA3 !important;}
.link a::after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background-color: var(--accent);
	transition: .25s var(--animation);
} .link a:hover::after {
	width: 100%;
}

a.my__btn,
button.my__btn {
	display: block;
	width: fit-content;
} 

.my__btn-light {
	padding: 7px 15px;
	color: var(--accent);
	border-radius: var(--border-radius);
	border: 1px solid var(--accent);
	background: #fff;
	display: block;
	font: 700 12px 'Montserrat';
	transition: .25s var(--animation);
}.my__btn-light:hover {
	color: #000;
	border-color: #000;
}

.my__btn-light-white {
	padding: 13px 20px;
	min-width: 130px;
	width: fit-content;
	text-align: center;
	color: var(--black-text);
	border-radius: var(--border-radius);
	background: #fff;
	font: 700 12px 'Montserrat';
	transition: .25s var(--animation);
	cursor: pointer;
}.my__btn-light-white:hover {
	color: var(--accent);
	box-shadow: 0 0 0 2px var(--light-accent);
}

.my__btn-large {
	padding: 13px 19px;
	border-radius: var(--border-radius);
	border: 1px solid var(--accent);
	background: var(--accent);
	font: 700 14px 'Montserrat';
	transition: .25s var(--animation);
	color: #fff;
} .my__btn-large:hover {
	background-color: #fff;
	color: var(--accent);
}

.my__btn-basic {
	padding: 8px 17px;
	color: var(--white-text);
	border-radius: var(--border-radius);
	border: 1px solid var(--accent);
	background: var(--accent);
	font: 700 12px 'Montserrat';
	transition: .25s var(--animation);
}.my__btn-basic:hover {
	color: var(--accent);
	background-color: #fff;
	border-color: var(--accent);
}

.card__button > .my__btn-buy {margin-left: auto;}
.my__btn-buy {
	padding: 8px 14px;
	max-width: 112px;
	text-align: center;
	color: var(--white-text);
	border-radius: var(--border-radius);
	border: 1px solid var(--accent);
	background: var(--accent);
	font: 700 14.5px 'Montserrat';
	transition: .25s var(--animation);
	cursor: pointer;
} a.my__btn-buy {width: 100%;}
.my__btn-buy:hover {
	color: var(--accent);
	background-color: #fff;
	border-color: var(--accent);
} .my__btn-buy.added {
	/* min-width: 100px; */
	opacity: 0;
	width: 0;
	overflow: hidden;
	height: 0;
	padding: 0;
	position: absolute;
	right: 0px;
	bottom: 1000px;
} /* .my__btn-buy.added:hover {
	color: var(--light-accent);
	border-color: var(--light-accent);
} */
.my__btn-buy.report {
	border-color: var(--black-text);
	color: var(--black-text);
	background-color: transparent;
} .my__btn-buy.report:hover {
	border-color: var(--grey-text);
	color: var(--grey-text);
}

.my__btn-full {
	width: 100%;
	padding: 12px 0;
	text-align: center;
	border-radius: var(--border-radius);
	border: 1px solid var(--accent);
	background: var(--accent);
	display: block;
	color: #fff;
	font: 700 14px 'Montserrat';
	transition: .25s var(--animation);
} .my__btn-full a {
	color: #fff;
	transition: .25s var(--animation);
} .my__btn-full:hover {
	background-color: #fff;
	box-shadow: inset 0 0 0 1.5px var(--accent);
	color: var(--accent);
} .my__btn-full:hover a {color: var(--accent);}

.my__btn-submit {
	min-width: 190px;
	padding: 16px 40px;
	text-align: center;
	border-radius: 130px;
	background-color: var(--accent);
	border: 1px solid var(--accent);
	color: #fff;
	font: 700 18px 'Inter';
	transition: .25s var(--animation);
} .my__btn-submit:hover {
	background-color: #fff;
	border-color: var(--accent);
	color: var(--accent);
}

.my__btn-contact {
	padding: 16px 20px;
	font: 600 12px 'Inter';
	border-radius: var(--border-radius);
	text-align: center;
	width: 148px;
	background-color: #fff;
	cursor: pointer;
	transition: 0.25s var(--animation);
} .my__btn-contact:hover {box-shadow: 0 0 0 1px var(--accent);}
input:checked + .my__btn-contact {
	background: var(--accent);
	color: var(--white-text);
}

.quantity-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
}
.quantity-btn > a.quantity-added {display: none;}
.my__btn-buy.added ~ .product__button--amount .quantity-btn a {display: none;}
.my__btn-buy.added ~ .product__button--amount .quantity-btn a.quantity-added {display: block;}

/* << END OF EMULATION >> */

header,
footer {
	width: 100%;
	height: 144px;
	padding: 30px;
	display: flex;
	align-items: center;
	background-color: #81d4c159;
	font: 600 16px 'Montserrat';
	letter-spacing: 3px;
}

main {
	padding: 30px 25px 130px;
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.navbar {
	width: 350px;
	background-color: var(--background-color);
	border-radius: 10px;
	border: #26CAA3 solid 3px;
	min-height: 400px;
	font: 600 16px 'Montserrat';
	letter-spacing: 3px;
	padding: 20px;
	transition: .3s var(--animation);
}

@media (max-width: 955px) {
	.navbar {
		opacity: 0;
		transform: translateX(-500px);
		visibility: 0;
		padding: 0;
		width: 0;
		height: 0;
	}
	main {
		padding: 0 25px 130px;
	}
	.main__content {margin-left: -40px;}
}
@media (max-width: 655px) {
	main {padding: 0 10px 26px; padding-top: 25px;}
}

/* BREADCUMBS */
.breadcumbs {margin-left: 0px;}
.main__container.noflex .breadcumbs {margin-left: 380px;}
.breadcumbs__container {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	font: 400 12px 'Inter';
	color: var(--black-text);
} .breadcumb:nth-of-type(n+2) {padding-left: 5px;}
.breadcumb, .breadcumb a {transition: .25s var(--animation);}
.breadcumb:hover, .breadcumb a:hover {color: var(--grey-text);}
.breadcumb::after {
	content: "...";
	display: inline-block;
	transform: translateX(-2px);}
.breadcumb:last-child:after {display: none;}
@media (max-width:955px) {
	.breadcumbs, .main__container.noflex .breadcumbs {margin-left: 300px;}
	.breadcumbs__container {font-size: 10px;}
}
@media (max-width:655px) {
	.main__container.noflex .breadcumbs, .breadcumbs {margin-left: 3px;}
	.breadcumbs__container {gap: 3px;}
}

.catalog__buttons {
	display: flex;
	gap: 20px;
	overflow-x: scroll;
	margin-bottom: 29px;
} /* Hide scrollbar for Chrome, Safari and Opera */
.catalog__buttons::-webkit-scrollbar {display: none;}
/* Hide scrollbar for IE, Edge and Firefox */
.catalog__buttons {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */}
.catalog__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 148px;
	border-radius: var(--border-radius);
	min-height: 48px;
	padding: 5px 25px;
	text-align: center;
	cursor: pointer;
	background-color: var(--white-text);
	font: 700 12px 'Inter';
	transition: .25s var(--animation);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
} .catalog__button:hover {box-shadow: inset 0 0 0 1.5px var(--accent);}
.catalog__button.active {
	color: var(--white-text);
	background-color: var(--accent);
}

.catalog__header {
	font: 700 38px 'Inter';
	margin: 5px 0 25px 0px;}
@media (max-width: 955px) {
	.catalog__header {
		margin-left: 300px;
		font-size: 30px;
		padding-right: 120px;}
}

.main__content {width: 100%;}

/* start templates */
.faq .catalog__button:active {
	color: var(--white-text);
	background-color: var(--accent);
}

.faq__container {margin-top: 60px;}
.faq__group {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: flex-end;}
.faq__header {font: 700 28px 'Inter';}

.faq__items {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 157px;
}

.faq__item {
	background: linear-gradient(264.67deg, #42DAB6 -5.36%, #39D0AC 118.96%);
	border-radius: 20px;
	width: 100%;
	padding: 34px 30px 45px 50px;;
	color: var(--white-text);
	font: 18px 'Inter';
	/* z-index: 1; */
	position: relative;}
.faq__item:nth-child(2n) {background: linear-gradient(264.67deg, #42DAB6 -5.36%, #39D0AC 118.96%);}
.faq__item:nth-child(3n) {background: #42DAC8;}
.faq__item:nth-child(4n) {background: #26C0CA;}

.faq__item::after {
	content: "";
	background: url('decorations/decoration-1.svg');
	width: 356px;
	height: 286px;
	position: absolute;
	bottom: -200px;
	left: 35px;
	z-index: -1;}
.faq__item:nth-child(2n)::after {
	background: url('decorations/decoration-2.svg');
	width: 356px;
	height: 287px;
	/* top: 80%; */
	left: initial;
	right: 50px;}
.faq__item:nth-child(3n)::after {
	background: url('decorations/decoration-3.svg');
	width: 356px;
	height: 287px;
	/* top: 80%; */
	left: 80px;}
.faq__item:nth-child(4n)::after {
	background: url('decorations/decoration-4.svg');
	width: 280px;
	height: 239px;
	right: 60px;}
.faq__item:last-child::after {display: none;}

.faq__item--wrapper {position: relative; display: flex;}
.faq__item:nth-child(2n) .faq__item--wrapper {flex-direction: row-reverse;}

.faq__item--text-wrapper {
	max-width: 482px;
	width: calc(100% - 450px);
	display: flex;
	flex-direction: column;
	gap: 20px;}
.faq__item--text-name {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
} 
.faq__item--text-name span svg {transition: .3s var(--animation);}
.faq__item--text-name:hover span svg {transform: translateX(5px);}
.faq__item a {
	font: 700 24px 'Montserrat';
	color: #fff;
	text-decoration: underline;}
.faq__item--image {
	position: absolute;
	width: 423px;
	top: 55px;
	right: 15px;
	height: 262px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* image */
	box-shadow: 36px 53px 26px rgba(0, 0, 0, 0.01), 0px 30px 22px rgba(0, 0, 0, 0.05), 9px 13px 16px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
} .faq__item:nth-child(2n) .faq__item--image {right: none; left: 15px; top: 40px;}
.faq__item--image img {
	min-width: 367px;
	min-height: 228px;
	object-fit: cover;
}

@media (min-width: 1600px) {
	.faq__item--wrapper {
		max-width: 1000px;
		margin: 0 auto;
	}
}


/* tablet */
@media (max-width: 955px) {
	.faq__container {margin-top: 46px;}
	.faq__header {font-size: 21.87px;}
	.faq__group {gap: 39px}
	.faq__items {gap: 122px;}
	.faq__item {
		border-radius: 15.6px;
		padding: 27px 23px 35px 39px;;
		font: 14px 'Inter';}
	.faq__item::after {
		transform: scale(0.7);
    bottom: -180px;
    left: 27px;}
	.faq__item:nth-child(2n)::after {
		transform: scale(0.7);
		top: 80%;
		right: 50px;}
	.faq__item:nth-child(3n)::after {
		transform: scale(0.7);
		top: 65%;
		left: 195px;}
	.faq__item:nth-child(4n)::after {
		transform: scale(0.7);
		top: 80%;
		left: 60%;}

		.faq__item--text-wrapper {
			max-width: 378px;
			width: calc(100% - 350px);
			gap: 15.6px;
		}
		.faq__item a {font-size: 18.7px;}

		.faq__item--image {
			width: 330px;
			height: 205px;
			border-radius: 7.8px;
			top: 35px;
			right: 0;
		} .faq__item--image img {
			min-width: 330px;
			min-height: 205px;
		}

		.faq__item:nth-child(2n) .faq__item--image {
			right: none;
			left: -10px;
			top: 45px;
		}
}

/* mobile */
@media (max-width: 655px) {
	.faq {padding-bottom: 100px;}
	.faq__container {margin-top: 24px;}
	.faq__group {gap: 24px;}
	.faq__item {padding: 26px 14px;}
	.faq__item--text-wrapper {width: 100%; margin-bottom: 110px;}
	.faq__item--image, .faq__item:nth-child(2n) .faq__item--image {top: calc(100% - 85px); left: calc(50% - 165px);}
	.faq__item::after {display: none;}
}


/* fixes */

@media (min-width: 956px) and (max-width: 1100px) {
	.faq__item--image img {min-width: 310px; min-height: 100%;}
	.faq__item--image {width: 310px; right: -5px;}
	.faq__item:nth-child(2n) .faq__item--image {left: -20px;}
	.faq__item:nth-child(2n) .faq__item--text-wrapper {width: calc(100% - 320px);}
}
@media (min-width: 1100px) and (max-width: 1150px) {
	.faq__item:nth-child(2n) .faq__item--image {left: -20px;}
}
@media (max-width: 360px) {
	.faq__item--image, .faq__item:nth-child(2n) .faq__item--image {max-width: 100%; width: 100%; left: calc(50% - 50%);}
	
}